@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
body {
  max-width: 1920px;
  margin: 0 auto;
  position: relative;
  font-size: 16px;
}
.sidebar {
  width: 245px;
  height: 32px;
  padding-left: 8px;
  padding-right: 8px;
  margin-right: 8px;
  margin-bottom: 4px;
  display: flex;
  align-items: center;
}
.sidebar:hover {
  background: #f7f7f7;
}
.container_fluid {
  max-width: 100%;
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  @media (min-width: 768px) {
    padding-left: 30px;
    padding-right: 30px;
  }
  @media (min-width: 1280px) {
    padding-left: 39px;
    padding-right: 39px;
  }
  @media (min-width: 1440px) {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
  }
}
.footer_bar:hover {
  box-shadow: 0px 12px 13px rgba(0, 0, 0, 0.02);
  transform: translateY(-2px);
}
